.About-container {
  height: 80%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.About {
  width: 50%;
  padding: 3em 5em
}
.About .About-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #1d314c;
}
.About .darkTitle{
  color: white;
}
.About .About-text {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 1.1em;
}

.About-skills {
  width: 55%;
  padding-left: 4.4em;
}

.About-skills li {
  list-style: none;
  font-size: 1rem;
  line-height: 1.3em;
  font-family: "Lato", sans-serif;
}
 .About-skills h2{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #1d314c;
 }

 .darkH2 h2{
  color: white;
 }

 .columns ul {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  gap: 2%;
  padding-left: 0;
}



@media only screen and (min-width: 320px) and (max-width: 767px){
  .About {
    width: 80%;
    padding: 1em 3em
  }
  .About .About-title {
    font-weight: 500;
    font-size: 2em;
  }
  .About .About-text {
    font-weight: 400;
    font-size: 1.019em;
    text-align: justify;
  }
  .About-skills {
    width: 80%;
    padding-left: .5em;
  }
  .columns ul {
    display: block
  }
  .About-skills li {
    padding: .4em 0;
    font-size: 1.1rem;
    line-height: 1.1em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .About {
    width: 80%;
    padding: 1em 3em
  }
  .About .About-text {
    font-weight: 400;
    font-size: 1.2em;
    text-align: justify;
  }
  .About-skills {
    width: 80%;
    padding-left: .5em;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
  .About {
    width: 70%;
    padding: 1em 3em
  }
  .About-skills {
    width: 70%;
    padding-left: .5em;
  }
}