.Footer{
    height: 10%;
    background-color: white;
    color: black;
    text-align: center;
    margin-top: auto;
    transition: background-color 1s ease-in-out;
}
.Footer .fa-heart{
    color: red;
}

.darkFooter{
    background-color: black;
    color: white;
}