
.Navlink-lg{
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    background-color: inherit;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.Navlink-sm{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.lightMode{
    color: black;
}

.darkMode{
    color: white
}